
<!DOCTYPE html>
<!--
Author: Bayar
Website: https://www.eximbay.com
Contact: bayar@eximbay.com
License: © 2020 Eximbay. All Rights Reserved.
-->
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <!--begin::Head-->
    <head th:replace="/pages/fragments/head :: head"></head>
    <!--end::Head-->

    <!--begin::Body-->
    <body  id="kt_body"  class="header-mobile-fixed subheader-enabled aside-enabled aside-fixed aside-secondary-enabled page-loading"  >

    	<!--begin::Main-->
        <!--begin::Header Mobile-->
        <header-mobile th:replace="/pages/fragments/header :: header-mobile"></header-mobile>
        <!--end::Header Mobile-->

        <div class="d-flex flex-column flex-root">
            <!--begin::Page-->
            <div class="d-flex flex-row flex-column-fluid page">
                <!--begin::Aside-->
                <aside th:replace="/pages/fragments/aside :: aside"></aside>
                <!--end::Aside-->

                <!--begin::Wrapper-->
                <div class="d-flex flex-column flex-row-fluid wrapper" id="kt_wrapper">
                    <!--begin::Content-->
                    <div class="content  d-flex flex-column flex-column-fluid" id="kt_content">
                        <!--begin::Subheader-->
                        <div class="subheader py-2 py-lg-4  subheader-transparent " id="kt_subheader">
                            <div class=" container  d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
                                <!--begin::Details-->
                                <div class="d-flex align-items-center flex-wrap mr-2">

                                    <!--begin::Title-->
                                    <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">Member</h5>
                                    <!--end::Title-->

                                    <!--begin::Separator-->
                                    <div class="subheader-separator subheader-separator-ver mt-2 mb-2 mr-5 bg-gray-200"></div>
                                    <!--end::Separator-->

                                    <!--begin::Search Form-->
                                    <div class="d-flex align-items-center" id="kt_subheader_search">
                                        <!-- <span class="text-dark-50 font-weight-bold" id="kt_subheader_total">1240 Total</span> -->
                                            <form class="ml-5">
                                                <div class="input-group input-group-sm input-group-solid" style="max-width: 175px">
                                                    <input type="text" class="form-control" id="kt_subheader_search_form" placeholder="Search..."/>
                                                    <div class="input-group-append">
                                                        <span class="input-group-text">
                                                            <span class="svg-icon"><!--begin::Svg Icon | path:assets/media/svg/icons/General/Search.svg--><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                                                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                                <rect x="0" y="0" width="24" height="24"/>
                                                                <path d="M14.2928932,16.7071068 C13.9023689,16.3165825 13.9023689,15.6834175 14.2928932,15.2928932 C14.6834175,14.9023689 15.3165825,14.9023689 15.7071068,15.2928932 L19.7071068,19.2928932 C20.0976311,19.6834175 20.0976311,20.3165825 19.7071068,20.7071068 C19.3165825,21.0976311 18.6834175,21.0976311 18.2928932,20.7071068 L14.2928932,16.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3"/>
                                                                <path d="M11,16 C13.7614237,16 16,13.7614237 16,11 C16,8.23857625 13.7614237,6 11,6 C8.23857625,6 6,8.23857625 6,11 C6,13.7614237 8.23857625,16 11,16 Z M11,18 C7.13400675,18 4,14.8659932 4,11 C4,7.13400675 7.13400675,4 11,4 C14.8659932,4 18,7.13400675 18,11 C18,14.8659932 14.8659932,18 11,18 Z" fill="#000000" fill-rule="nonzero"/>
                                                            </g>
                                                            </svg><!--end::Svg Icon--></span><!--<i class="flaticon2-search-1 icon-sm"></i>-->
                                                        </span>
                                                    </div>
                                                </div>
                                            </form>
                                    </div>
                                    <!--end::Search Form-->

                                </div>
                                <!--end::Details-->
                            </div>
                        </div>
                        <!--end::Subheader-->

                        <!--begin::Entry-->
                        <div class="d-flex flex-column-fluid">
                            <!--begin::Container-->
                            <div class=" container ">
                                <!--begin::Card-->
                                <div class="card card-custom gutter-b">
                                    <div class="card-body">
                                        <!--begin: Datatable-->
                                        <div class="datatable datatable-bordered datatable-head-custom" id="kt_datatable_member"></div>
                                        <!--end: Datatable-->
                                    </div>
                                </div>
                                <!--end::Card-->

                                <!--begin::Card-->
                                <div class="card card-custom gutter-b">
                                    <div class="card-header flex-wrap border-0 pt-6 pb-0">
                                        <div class="card-title">
                                            <h3 class="card-label">
                                                Objectives
                                                <span class="d-block text-muted pt-2 font-size-sm">Member Objectives</span>
                                            </h3>
                                        </div>
                                        <div class="card-toolbar">
                                            <!--begin::Button-->
                                            <a href="javascript:;" class="btn btn-text-dark-50 btn-icon-primary font-weight-bold btn-hover-bg-light mr-3" data-toggle="modal" data-target="#kt_datatable_add_okr_modal">
                                                <i class="flaticon2-pie-chart"></i> Add OKR
                                            </a>
                                            <!--end::Button-->
                                        </div>
                                    </div>

                                    <div class="card-body">
                                        <!--begin: Datatable-->
                                        <div class="datatable datatable-bordered datatable-head-custom" id="kt_datatable_okr"></div>
                                        <!--end: Datatable-->
                                    </div>
                                </div>
                                <!--end::Card-->

                                <!--begin::Modal-->
                                <div class="modal fade" id="kt_datatable_add_okr_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Add Objective</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true"></span>
                                                </button>
                                            </div>
                                            <form class="form form--fit" id="add_okr_form">
                                                <input type="hidden" id="memberId" th:value="${member.id}"/>
                                                <div class="modal-body">
                                                    <div class="form-group row">
                                                        <label  class="col-2 col-form-label">Name</label>
                                                        <div class="col-10">
                                                            <input class="form-control" type="text" value="" name="name" id="add-name-input"/>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-primary mr-2" id="add_okr_form_submit">Submit</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!--end::Modal-->
                                
                                <!--begin::Modal-->
                                <div class="modal fade" id="kt_datatable_edit_okr_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered" role="document">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="exampleModalLabel">Edit OKR</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true"></span>
                                                </button>
                                            </div>
                                            <form class="form form--fit" id="edit_okr_form">
                                                <div class="modal-body">
                                                    <div class="form-group row">
                                                        <label  class="col-2 col-form-label">Name</label>
                                                        <div class="col-10">
                                                            <input class="form-control" type="text" value="" name="name" id="edit-name-input"/>
                                                        </div>
                                                    </div>
                                                    <div class="form-group row">
														<label class="col-2 col-form-label"> Level Select</label>
														<div class="col-10">
															<select class="custom-select form-control" name="level" id="edit-level-select">
																<option value="C">Company</option>
																<option value="T">Team</option>
																<option value="M" selected>Member</option>
															</select>
														</div>
													</div>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-primary mr-2" data-dismiss="modal">Close</button>
                                                    <button type="submit" class="btn btn-secondary" id="edit_okr_form_submit">Submit</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                                <!--end::Modal-->

                            </div>
                            <!--end::Container-->
                        </div>
                        <!--end::Entry-->
                    </div>
                    <!--end::Content-->

                    <!--begin::Footer-->
                    <footer th:replace="pages/fragments/footer :: footer"></footer>
                    <!--end::Footer-->
                </div>
                <!--end::Wrapper-->
            </div>
            <!--end::Page-->
        </div>
        <!--end::Main-->


        <!--begin::quick panel-->
		<panel th:replace="/pages/fragments/panels :: panel"></panel>
        <!--end::quick panel--->            		

		<!--begin::Scrolltop-->
		<scroll th:replace="/pages/fragments/scroll-top :: scroll-top"></scroll>
		<!--end::Scrolltop-->

		<script th:replace="/pages/fragments/script :: scriptFragment"></script>

		<!--begin::Page Scripts(used by this page)-->
		<script th:src="@{/assets/js/pages/quarterly-okr/member.js?v=7.0.6}"></script>
		<!--end::Page Scripts-->
    </body>
    <!--end::Body-->
</html>