<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
    layout:decorate="~{pages/layout/main_layout.html}">

<head>
    <title>Dictionary Key Result</title>
</head>


<body>

    <div layout:fragment="content" class="container">
        <button id="modal-button" class="btn btn-sm btn-clean" title="View records" data-toggle="modal"
            data-target="#kt_datatable_modal_keyresult">
            <i class="flaticon2-document"></i> Details(click for modal)
        </button>
        <hr />
        <h6>Test adding to key result</h6>
        <form class="col-5 pt-2 form">
            <!--begin::Form group-->
            <div class="form-group">
                <label>Key Result</label>
                <input class="key-result form-control" type="text"/>
            </div>
            <!--end::Form group-->

            <!--begin::Form group-->
            <div class="form-group">
                <label>Properties</label>

                <select class="custom-select col mr-2 task-type">
                    <option selected="selected" value="">Task Type</option>
                    <th:block th:each="codeList: ${TypeModel.taskType}">
                        <option th:value="${codeList.codeListId.code}" th:text="${codeList.codeName}"></option>
                    </th:block>
                </select>
                <select class="custom-select col mr-2 task-metric">
                    <option selected="selected" value="">Task Metric</option>
                    <th:block th:each="codeList: ${TypeModel.taskMetric}">
                        <option th:value="${codeList.codeListId.code}" th:text="${codeList.codeName}"></option>
                    </th:block>
                </select>
                <select class="custom-select col mr-2 task-indicator">
                    <option selected="selected" value="">Task Indicator</option>
                    <th:block th:each="codeList: ${TypeModel.taskIndicator}">
                        <option th:value="${codeList.codeListId.code}" th:text="${codeList.codeName}"></option>
                    </th:block>
                </select>

            <!-- <input class="form-control" type="text" id="taskType"/>
            <input class="form-control" type="text" id="taskMetric"/>
            <input class="form-control" type="text" id="taskIndicator"/> -->
            </div>
            <!--end::Form group-->
        </form>

        <!--begin::Modal-->
        <div th:replace="pages/common/modal::dictionary-keyresult">
        </div>
        <!--end::Modal-->

    </div>
</body>
<th:block layout:fragment="script">
    <script th:src="@{/assets/js/pages/custom/dictionary/keyresult.js?v=7.0.6}"></script>
</th:block>

</html>